@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
@Html.ActionLink("View All Machines", "Index", null, null, new { @class="btn btn-info fa fa-user" })
<br><br>
<p>Add a New Machine:</p>
@using (Html.BeginForm())
{
  <table>
    <tr>
      <td>@Html.LabelFor(model => model.Name)</td>
      <td>@Html.TextBoxFor(model => model.Name)</td>
    </tr>
  </table>
  <br>
  <button type="submit" class="btn btn-info fa fa-user-plus"><i class=""> Add</i></button>
}