@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Machine>;
@Html.ActionLink(" Add/Install New Machine", "Create", null, null, new { @class="btn btn-info fa fa-user-plus" })
<h1>Current Machines</h1>

@if (@Model.Count == 0)
{
  <h3>No machines have been added yet!</h3>
} 
<ul>
  @foreach (Machine machine in Model)
  {
    <li>@Html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId })</li>
  }
</ul>
