@{
  Layout = "_Layout";
}
<h1>Let's fix your machine!</h1>
<div class="row">
  <div class="col-md-4">
    @Html.ActionLink(" All Engineers", "Index", "Engineers", null, new { @class="btn btn-info fa fa-user" })
  </div>
  <div class="col-md-4">
    @Html.ActionLink(" All Machines", "Index", "Machines", null, new { @class="btn btn-info fa fa-user-md" })
  </div>
  <div class="col-md-4">
    @Html.ActionLink("View All Machines & Engineers", "Index", "Company", null, new { @class="btn btn-info fa fa-medkit" })
  </div>
</div>
